<ion-view view-title="{{ 'CHANGE_PASSWORD_NAVBAR_TITLE' | translate }}">
	<ion-content class="center">
		<div class="width-70">
			<form name='changePasswordForm' ng-submit="changePassword(oldPassword, newPassword)">
				<label class="item item-input">
					<input type="password" ng-model="oldPassword" placeholder="{{ 'CHANGE_PASSWORD_INPUT_OLD_PASSWORD' | translate }}">
				</label>
				<label class="item item-input">
					<input id="email" name="email" ng-model="newPassword" required="true" type="password" placeholder="{{ 'CHANGE_PASSWORD_INPUT_NEW_PASSWORD' | translate }}" />
				</label>
				<label class="item item-input centered-with-icon">
					<input name="newPasswordConfirm" ng-model="newPasswordConfirm" required="true" type="password" match="newPassword" placeholder="{{ 'CHANGE_PASSWORD_INPUT_CONFIRM_PASSWORD' | translate }}" />
					<i class="icon ion-checkmark balanced padding-right" ng-show="changePasswordForm.newPasswordConfirm.$valid">
					</i>
					<i class="icon ion-close assertive padding-right" ng-show="changePasswordForm.newPasswordConfirm.$error.mismatch">
					</i>
				</label>
				<button type="submit" ng-disabled='changePasswordForm.$invalid' class="button button-block button-balanced" translate='CHANGE_PASSWORD_BUTTON_SAVE'>
					Save
				</button>
			</form>
		</div>
	</ion-content>
</ion-view>