<ion-view view-title="{{ 'CONTACT_NAVBAR_TITLE' | translate }}">
	<ion-content class="padding contact-background">
		<div class="row">
			<div class="col">
				<h4 translate="CONTACT_MAIL_HEADLINE">
					Mail
				</h4>
				<p translate="CONTACT_MAIL_CONTENT">
                Feel free to contact us any time at <a href="#" onclick="window.open('mailto:hello@moovery.com', '_blank', 'location=yes');">
                    hello@moovery.com
                </a>.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 translate="CONTACT_FAQS_HEADLINE">
					FAQs
				</h4>
				<p translate="CONTACT_FAQS_CONTENT">
                You can find a comprehensive <a  href="#" onclick="window.open('http://moovery.com/faqs', '_blank', 'location=yes');">
                    on our website
                </a><a  href="#" onclick="window.open('http://moovery.com/faqs', '_blank', 'location=yes');">moovery.com</a>.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 translate="CONTACT_PRIVACY_POLICY_HEADLINE">
					Privacy Policy
				</h4>
				<p translate="CONTACT_PRIVACY_POLICY_CONTENT">
					If you want to know our <a  href="#" onclick="window.open('http://moovery.com/privacy', '_blank', 'location=yes');">privacy policy</a>
                    please visit <a  href="#" onclick="window.open('http://moovery.com/privacy', '_blank', 'location=yes');">our website</a>.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 translate="CONTACT_TOS_HEADLINE">
					Terms of Service
				</h4>
				<p translate="CONTACT_TOS_CONTENT">
					Our <a  href="#" onclick="window.open('http://moovery.com/tos', '_blank', 'location=yes');">terms of service</a> are also available on
                    <a  href="#" onclick="window.open('http://moovery.com/tos', '_blank', 'location=yes');">our website</a>.
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
