<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-balanced">
            <div class="title">Mooveri</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="mooveri-list1">
                <ion-item id="mooveri-list-item1" ui-sref="mooveri.home" menu-close="">Home</ion-item>
                <ion-item id="mooveri-list-item2" ui-sref="mooveri.settings" menu-close="">Settings</ion-item>
                <ion-item id="mooveri-list-item3" ui-sref="mooveri.about" menu-close="">About us</ion-item>
                <ion-item id="mooveri-list-item4" ui-sref="mooveri.contact" menu-close="">Contact</ion-item>
                <ion-item id="mooveri-list-item5" ui-sref="mooveri.signout" menu-close="">Sign out</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>